{% extends 'event-management-system/header.html' %}

{% block content %}
    <h2 style="text-align: center; color: white">District Users</h2>
    <br>

    <style>
        .table-style {
            width: 90%;
            margin-left: 5%;
            background-color: white;
            opacity: 0.8;
        }
    </style>

    {% include 'event-management-system/includes/successMessage.html' %}

    <table class="table mb-0 table-style">
        <thead>
        <tr>
            <th style="width: 10%">District Name</th>
            <th style="width: 15%">District Secretary Name</th>
            <th style="width: 10%; text-align: center">Telephone</th>
            <th style="width: 15%">Email</th>
            <th style="width: 15%">Registered Date</th>
            <th style="width: 15%">Last Login</th>
            <th style="width: 10%">Province Name</th>
            <th style="width: 10%; text-align: center">Registered Players</th>
        </tr>
        </thead>
        <tbody>
        {% for districtUser in districtUserList %}
            <tr>
                <td style="width: 10%">{{ districtUser.user.username }}</td>
                <td style="width: 15%">{{ districtUser.districtSecretaryName }}</td>
                <td style="width: 10%; text-align: center">{{ districtUser.telephone }}</td>
                <td style="width: 15%">{{ districtUser.user.email }}</td>
                <td style="width: 15%">{{ districtUser.user.date_joined }}</td>
                <td style="width: 15%">{{ districtUser.user.last_login }}</td>
                <td style="width: 10%">{{ districtUser.province.user.username }}</td>
                <td style="width: 10%; text-align: center"><a href="{% url 'view-players-on-districts' %}?district={{ districtUser.user.username }}"
                       class="btn btn-block btn-primary btn-lf"
                       role="button">View</a></td>
            </tr>
        {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="3">No events have been added.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div style="text-align: center;"><a href="{% url 'district_signup' %}" class="btn-lg btn-success" role="button">New
        District</a></div>
{% endblock %}