{% extends 'event-management-system/header.html' %}

{% block content %}

<table class="table mb-0">
    <thead>
    <tr>
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Telephone</th>
        <th>Association</th>
        <th>District</th>
        <th>Province</th>
        <th>Event</th>
    </tr>
    </thead>
    <tbody>
    {% for player in playerList %}
    <tr>
        <td>{{ player.id }}</td>
        <td>{{ player.playerName }}</td>
        <td>{{ player.telephone }}</td>
        <td>{{ player.association.user.username }}</td>
        <td>{{ player.district.user.username }}</td>
        <td>{{ player.district.province.user.username }}</td>
        <td>{{ player.event.eventID }}</td>
    </tr>
    {% empty %}
    <tr>
        <td class="bg-light text-center font-italic" colspan="3">You haven't registered any players yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}