{% extends 'event-management-system/header.html' %}

{% block content %}

<table class="table mb-0">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Registered Date</th>
        <th>Last Login</th>
    </tr>
    </thead>
    <tbody>
    {% for slkfUser in slkfUserList %}
    <tr>
        <td>{{ slkfUser.user.first_name }} {{ slkfUser.user.last_name }}</td>
        <td>{{ slkfUser.position }}</td>
        <td>{{ slkfUser.telephone }}</td>
        <td>{{ slkfUser.user.email }}</td>
        <td>{{ slkfUser.user.date_joined }}</td>
        <td>{{ slkfUser.user.last_login }}</td>
    </tr>
    {% empty %}
    <tr>
        <td class="bg-light text-center font-italic" colspan="3">No events have been added.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}