{% extends 'event-management-system/header.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <style>
                .btn-lf {
                    margin-bottom: 0.5rem;
                    font-size: 2.25rem;
                    line-height: 2.5;
                    border-radius: 1.3rem
                }
            </style>
            <div class="row margin">
                <div class="col-sm-6">
                    <!--Directs to the page where SLKF can choose which type of user to be created-->
                    <a href="{% url 'signup' %}" class="btn btn-block btn-primary btn-lf" role="button">Create New
                        User</a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'create-event' %}" class="btn btn-block btn-primary btn-lf" role="button">Create New
                        Event</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'all-events' %}" class="btn btn-block btn-primary btn-lf" role="button">View
                        Events</a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'association-list' %}" class="btn btn-block btn-primary btn-lf" role="button">View
                        Associations</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'view-users' %}" class="btn btn-block btn-primary btn-lf" role="button">View System
                        Users</a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'view-all-players' %}" class="btn btn-block btn-primary btn-lf" role="button">View
                        All Players</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'open-tournament' %}" class="btn btn-block btn-primary btn-lf" role="button">Open Registration
                        Users</a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'close-tournament' %}" class="btn btn-block btn-primary btn-lf" role="button">Close Registraiton</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}