{% extends 'event-management-system/header.html' %}

{% block content %}
    <h2 style="text-align: center; color: white">Coaches of {{ association }} Association</h2>
    <br>

    <style>
        .table-style {
            width: 50%;
            margin-left: 25%;
            background-color: white;
            opacity: 0.8;
        }
    </style>

    {% include 'event-management-system/includes/successMessage.html' %}

    <table class="table mb-0 table-style">
        <thead>
        <tr>
            <th style="width: 15%; text-align: center">Coach ID</th>
            <th style="width: 50%">Coach Name</th>
            <th style="width: 35%; text-align: center">Telephone</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in coachList %}
            <tr>
                <td style="width: 15%; text-align: center">{{ coach.coachID }}</td>
                <td style="width: 50%">{{ coach.coachName }}</td>
                <td style="width: 35%; text-align: center">{{ coach.telephone }}</td>
            </tr>
        {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="3">No coaches have been registered yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}