{% extends 'event-management-system/header.html' %}

{% block content %}
    <h2 style="text-align: center; color: white">Players of {{ association }} Association</h2>
    <br>
    <style>
        .table-style {
            width: 80%;
            margin-left: 10%;
            background-color: white;
            opacity: 0.8;
        }
    </style>

    {% include 'event-management-system/includes/successMessage.html' %}

    <table class="table mb-0 table-style">
        <thead>
        <tr>
            <th style="width: 10%; text-align: center">Player ID</th>
            <th style="width: 25%;">Player Name</th>
            <th style="width: 15%; text-align: center">Telephone</th>
            <th style="width: 20%">District</th>
            <th style="width: 20%">Province</th>
            <th style="width: 10%; text-align: center">Event</th>
        </tr>
        </thead>
        <tbody>
        {% for player in playerList %}
            <tr>
                <td style="width: 10%; text-align: center">{{ player.id }}</td>
                <td style="width: 25%;">{{ player.playerName }}</td>
                <td style="width: 15%; text-align: center">{{ player.telephone }}</td>
                <td style="width: 20%;">{{ player.district.user.username }}</td>
                <td style="width: 20%;">{{ player.district.province.user.username }}</td>
                <td style="width: 10%; text-align: center">{{ player.event.eventID }}</td>
            </tr>
        {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="3">No players have been registered yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div style="text-align: center;"><a href="{% url 'player-registration' %}?association={{ association }}" class="btn-lg btn-success" role="button">Add
        Player</a></div>
{% endblock %}