html, body, .tournament {
  height: 100%;
  font-family: sans-serif;
  font-size: 10px;
}

.hidden-bracket {
  display: none !important;
}

.bracket {
  position: relative;
  display: flex;
  height: 100%;
  padding-top: 38px;
}
.bracket:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  top: 38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}
.bracket li {
  position: relative;
  width: 50%;
  flex: 1;
  height: 100%;
  padding-top: 8px;
  /* border: 1px solid black */
  text-align: center;
}
.bracket li:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}
.bracket li.winner {
  position: absolute;
  top: 0;
  left: -1px;
  height: 30px;
  width: 100%;
}
.bracket li.winner:before {
  top: 30px;
}
