{% extends 'event-management-system/header.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <style>
                .btn-lf {
                    margin-bottom: 0.5rem;
                    font-size: 2.25rem;
                    line-height: 2.5;
                    border-radius: 1.3rem;
                }
            </style>
            <div class="row margin">
                <div class="col-sm-6">
                    <a href="{% url 'view-events' %}" class="btn btn-block btn-primary btn-lf" role="button">View
                        Events</a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'view-associations' %}" class="btn btn-block btn-primary btn-lf" role="button">View
                        Associations</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}

